<!DOCTYPE html>
<html>
<head>
    <title>csBuddies Privacy Policy</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
            <br><h1 style="font-size:250%; color:green; text-align:center;">csBuddies Privacy Policy</h1><br>
            <p style="font-size:150%;">
                csBuddies is built as a free app. This service is provided at no cost and is intended for use as is.<br>
                This page is used to inform visitors regarding the policies with the collection, use, and disclosure of Personal Information for all users of this service.<br>
                If the user chooses to use the service, then the user agrees to the collection and use of information in relation to this policy. The Personal Information collected is used for providing and improving the service. The users' information will not be used or shared with anyone except as described in this Privacy Policy.<br>
                The terms used in this Privacy Policy have the same meanings as in the Terms and Conditions, which is accessible at csBuddies unless otherwise defined in this Privacy Policy.<br>
                <br><strong>Information Collection and Use</strong><br>
                For a better experience, while using the service, users may be required to provide with certain personally identifiable information, including but not limited to Location. The information requested will be retained on user's device and is not collected in any way.<br>
                The app does use third party services that may collect information used to identify the users.<br>
                <br><strong>Log Data</strong><br>
                Whenever the users use the service, in a case of an error in the app, data and information are collected (through third party products) on users' phones called Log Data. This Log Data may include information such as user's device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing the service, the time and date of user's use of the service, and other statistics.<br>
                <br><strong>Cookies</strong><br>
                Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to the user's browser from the websites that the user visits and are stored on the user's device's internal memory.<br>
                This service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collect information and improve their services. Users have the option to either accept or refuse these cookies and know when a cookie is being sent to their devices. If user chooses to refuse the cookies, user may not be able to use some portions of this service.<br>
                <br><strong>Service Providers</strong><br>
                Third-party companies and individuals may be employed due to the following reasons:<br>
                To facilitate the service; To provide the service on the behalf;<br>
                To perform service-related services; or To assist the app in analyzing how the service is used.<br>
                These third parties have access to users' Personal Information. The reason is to perform the tasks assigned to them on the app's behalf. However, they are obligated not to disclose or use the information for any other purpose.<br>
                <br><strong>Security</strong><br>
                Your trust in providing your Personal Information is valued, thus the developer strives to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and its absolute security cannot be guaranteed.<br>
                <br><strong>Links to Other Sites</strong><br>
                This service may contain links to other sites. If a third-party link is clicked, the user will be directed to that site. Note that these external sites are not operated by the app. Therefore, it is strongly advised that the users review the Privacy Policy of these websites. The app has no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.<br>
                <br><strong>Children’s Privacy</strong><br>
                These services do not address anyone under the age of 13. The developer does not knowingly collect personally identifiable information from children under 13. In the case it is discovered that a child under 13 has provided the app with personal information, the data is immediately deleted from the servers. It is asked that the parents of young users contact the developer so that the developer would be able to perform necessary actions.<br>
                <br><strong>Changes to This Privacy Policy</strong><br>
                This Privacy Policy may be updated from time to time. Thus, users are advised to review this page periodically for any changes. Any changes will notify be notified by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.<br>
                <br><strong>Contact</strong><br>
                If you have any questions about the Privacy Policy, please do not hesitate to email <a href="mailto: csbuddiesapp@gmail.com">csbuddiesapp@gmail.com</a>.
            </p>
        </div>
      </div>
    </main>
</body>
</html>
