<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368792321905-27koauidhprnica34p0795h2npimfe6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368792321905-27koauidhprnica34p0795h2npimfe6m</string>
	<key>API_KEY</key>
	<string>AIzaSyCyqtlcNIvEsIW647G17fNggbctCVkBO5g</string>
	<key>GCM_SENDER_ID</key>
	<string>368792321905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harrycha.csBuddies</string>
	<key>PROJECT_ID</key>
	<string>csbuddies-1d615</string>
	<key>STORAGE_BUCKET</key>
	<string>csbuddies-1d615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:368792321905:ios:7b51e4d09e6023cbfcc0d0</string>
	<key>DATABASE_URL</key>
	<string>https://csbuddies-1d615.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>INSERT ADMOB APP ID HERE</string>
</dict>
</plist>
